<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ユーザ管理画面</title>
</head>
<body>
    <div class="header-contents">
        <h2>ユーザ管理画面</h2>
    </div>
    <div class="user-icon" th:each="user : ${users}">
        <div>
            ID : <span th:text="${user.id}"/>
        </div>
        <div>
            Account : <span th:text="${user.account}"/>
        </div>
        <div>
            name : <span th:text="${user.name}"/>
        </div>
        <div>
            支社 : <span th:text="${user.branchId}"/>
        </div>
        <div>
            部署 : <span th:text="${user.departmentId}"/>
        </div>

        <form th:action="@{/manager}" method="post">
            <input type="hidden" name="id" th:value="${user.id}" />
            <select name="status">
                <option th:each="status : ${statuses}"
                        th:value="${status.ordinal()}"
                        th:text="${status}"
                        th:selected="${status.ordinal() == user.isStopped}">
                </option>
            </select>
            <button type="submit" onclick="return confirm('変更しますか？');">変更</button>
        </form>
    </div>

<!--    <div class="setup-button">-->
<!--        <form th:action="/setup" th:method="get">-->
<!--            <button type="submit">登録</button>-->
<!--        </form>-->
<!--    </div>-->

<!--    <div class="edit-button">-->
<!--        <form th:action="/edit" th:method="get">-->
<!--            <button type="submit">編集</button>-->
<!--        </form>-->
<!--    </div>-->

</body>
</html>