<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>新規投稿画面</title>
</head>
<body>
<div class="header-contents">
  <h2>投稿</h2>
</div>
<div class="main-contents">
  <form method="post" action="/add" th:object="${formModel}">
<!--    各プロパティでエラーが発生したら赤色でエラーメッセージを表示する-->
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red">Content Error</div>
    <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}" style="color: red">Content Error</div>
    <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" style="color: red">Content Error</div>
    <div class="form-area">
      <label>件名</label>
      <input type="text" th:field="*{title}" size="30" placeholder="30文字以内で入力してください">
    </div>

    <div class="form-area">
      <label>本文</label>
      <textarea class="tweet-box" th:field="*{text}" size="10" maxlength="1500" placeholder="1000文字以内で入力してください"/></textarea><br/>
    </div>

    <div class="form-area">
      <label>カテゴリ</label>
      <input type="text" th:field="*{category}" size="30" placeholder="10文字以内で入力してください">
    </div>
<!--      ユーザーIDがフォームオブジェクトに格納されていないためコントローラー側で格納するために情報を送る-->
      <input type="hidden" name="userId" th:value="${session.loginUser.id}">
      <input type="submit" value="投稿する" class="delete-btn"/>
  </form>
</div>
<div class="footer-contents">
  <a href="/patas_board">戻る</a>
</div>
</body>
</html>
