<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ユーザ編集画面</title>
</head>
<body>
<div class="header-contents">
    <h2>ユーザ編集画面</h2>
</div>
<div class="user-icon">
    <form th:action="@{/setting}" method="post" th:object="${formModel}">

        <label th:for="id">ID</label>
        <input th:value="${users.id}" id="id"/><br />

        <label th:for="account">アカウント名</label>
        <input th:value="${users.account}" /><br />

        <label th:for="password">パスワード</label>
        <input th:type="password" id="password"/> <br />

        <label th:for="confirmPassword">パスワード確認</label>
        <input th:type="password" id="confirmPassword"/> <br />

        <label th:for="name">名前</label>
        <input name="name" th:value="${users.name}" id="userName"/><br />

<!--        <label th:for="branchName">支社</label>-->
<!--        <input th:value="${branch.name}" id="branchName"/><br />-->

<!--        <label th:for="departmentName">部署</label>-->
<!--        <input th:value="${department.name}" id="departmentName"/><br />-->

        <input type="submit" value="登録">
    </form>
</div>

</body>
</html>