<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ユーザ編集画面</title>
</head>
<body>
<div class="header-contents">
    <h2>ユーザ編集画面</h2>
</div>
<th:block th:if="${errorMessages != null && !errorMessages.isEmpty()}">
    <div th:each="errorMessage:${errorMessages}">
        <span th:text="${errorMessage}" style="color:red"></span>
    </div>
</th:block>
<div class="user-icon">
    <form th:action="@{/setting}" th:object="${users}" method="post">

        <label th:for="id">ID</label>
        <input th:value="${users.id}" id="id" th:field="*{id}"/><br />

        <label th:for="account">アカウント名</label>
        <input th:value="${users.account}" id="account" th:field="*{account}"/><br />

        <label th:for="password">パスワード</label>
        <input th:type="password" id="password" th:field="*{password}"/> <br />

        <label th:for="confirmPassword">パスワード確認</label>
        <input th:type="password" name="confirmPassword"/> <br />

        <label th:for="name">名前</label>
        <input th:value="${users.name}" id="name" th:field="*{name}"/><br />

        <label th:for="branchName">支社</label>
        <input th:value="${users.branchId}" id="branchId" th:field="*{branchId}"/><br />

        <label th:for="departmentName">部署</label>
        <input th:value="${users.departmentId}" id="departmentId" th:field="*{departmentId}"/><br />

        <input type="submit" value="登録" />
    </form>
</div>

</body>
</html>