<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:fmt="http://java.sun.com/jsp/jstl/fmt">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div th:if="${session.loginUser != null}">
    <div class="profile">
        <div class="name">
            <h2>
                <span th:text="${session.loginUser.name}" />
            </h2>
        </div>
        <div class="account">
            @<span th:text="${session.loginUser.account}" />
        </div>
    </div>
    <div class="user-maanage-button">
        <a href="/manager/form">
            <button class="manage-button" type="button">ユーザー管理</button>
        </a>
    </div>
</div>
<div th:if="${session.loginUser == null}">
    <div class="login-button">
        <a href="/login/form">
            <button class="login-button" type="button">ログイン</button>
        </a>
    </div>
</div>
<div>
    <form action="/filter" method="get">
        日付<input type="date" name="start" th:value="${start}">～<input type="date" name="end" th:value="${end}"><input type="submit" value="絞り込み">
    </form>
</div>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="message-icon" th:each="message : ${messages}">
        <div>
            ID : <span th:text="${message.id}"/>
        </div>
        <div>
            投稿者 : <span th:text="${message.name}"/>
        </div>
        <div>
            カテゴリー : <span th:text="${message.category}"/>
        </div>
        <div class="title">
            件名 : <span th:text="${message.title}"/>
        </div>
        <div class="text">
            本文 : <span th:text="${message.text}"/>
        </div>
        <div class="date">
            <fmt:formatDate value="${message.createdDate}"
                            pattern="yyyy/MM/dd HH:mm:ss" />
        </div>
        <div class="comment-icon" th:each="comment : ${comments}">
            <th:block th:if="${message.id} == ${comment.messageId}">
                <div>
                    ID : <span th:text="${comment.id}"/>
                </div>
                <div class="text">
                    コメント : <span th:text="${comment.text}"/>
                </div>
                <div class="delete-button">
                    <form th:action="@{/comment/delete/{id}(id=${commentId})}" th:method="delete">
                        <input type="submit" value="削除">
                    </form>
                </div>
                <div class="edit-button">
                    <a th:href="@{/comment/edit/{id}/{messageId}(id=${comment.id},messageId=${comment.messageId})}">
                        <input type="button" value="編集">
                    </a>
                </div>
            </th:block>
        </div>
        <div class="comment-area">
            <form method="post" th:action="@{/comment/{messageId}(messageId=${message.id})}" th:object="${formModel}">
                <div class="form-area">
                    <label>返信</label>
                    <textarea class="tweet-box" th:field="*{text}" size="20" maxlength="200" /></textarea><br/>
                    <div th:if="${mavErrorMessages != null} and ${messageId} == ${message.id}">
                        <div th:each="message : ${mavErrorMessages}">
                            <span th:text="${message}" class="errorMessages"/>
                        </div>
                    </div>
                    <input type="submit" value="返信" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>